# Ejercicios sobre Pandas

In [51]:
import pandas as pd

In [52]:
# Crear DataFrame desde el archivo CSV
df_accidentes = pd.read_csv(r'C:\Users\Cebol\OneDrive\Escritorio\Henry_data\DataSets\Nuclear_Incidents.csv', decimal=".", thousands=',')
df_accidentes.head(5)

,Date,Location,Incident,Category,Numbers of Direct Deaths,Numbers of InDirect Deaths,INES\r\nlevel,Latitude,Longitude
0,29/09/1957,"Mayak, Kyshtym, Soviet Union",Kyshtym disaster,Storage/Handling,NaN,200.0,6.0,55.7131,60.8526
1,10/10/1957,"Sellafield, Cumberland, United Kingdom",Windscale fire,Operational/Safety Measures,0.0,240.0,5.0,54.4167,-3.4833
2,03/01/1961,"Idaho Falls, Idaho, United States",SL-1 prototype explosion,Operator Error,3.0,NaN,4.0,43.4920,-112.0401
3,05/10/1966,"Frenchtown Charter Township, Michigan, United ...",Fermi 1 Reactor meltdown,Technical Flaws,0.0,NaN,4.0,41.9562,-83.6639
4,21/01/1969,"Lucens reactor, Vaud, Switzerland","Loss-of-Coolant Accident (January 21, 1969)",Operator Error,0.0,NaN,4.0,46.6772,6.8750

### Ejercicio 1:
* Muestra la cantidad de registros para cada país ('Location').

In [ ]:
registro_paises = df_accidentes[["Location ",'Numbers of Direct Deaths', 'Numbers of InDirect Deaths']].groupby('Location ').sum()
registro_paises

### Ejercicio 2:
* Eliminar las columnas 'Longitude', 'Latitude' y 'Location' y mostrar las 2 primeras filas del Dataframe.

In [ ]:
df_accidentes.drop(['Longitude', 'Latitude', 'Location '], inplace=True, axis=1)
df_accidentes.head(2)

### Ejercicio 3:
* Muestra la cantidad de veces que se repiten los años en la columna 'Date'.

In [ ]:
df_accidentes['Date'] = pd.to_datetime(df_accidentes['Date'], format='%d/%m/%Y')
df_accidentes['Año'] = df_accidentes['Date'].dt.year
accidentes_año = df_accidentes['Año'].value_counts()
accidentes_año

### Ejercicio 4:
* Crea una nueva columna llamada 'Severity' que sea la suma de las columnas 'INES level' y 'Numbers of Direct Deaths'.

In [ ]:
df_accidentes['Severity'] = df_accidentes['INES\r\nlevel'] + df_accidentes['Numbers of Direct Deaths']
df_accidentes

### Ejercicio 5:
* Crear un nuevo campo, que se denomine "Total Deaths", que guarde la sumatoria de las columnas 'Numbers of Direct Deaths' y 'Numbers of InDirect Deaths'. Informar el total de muertes para el incidente más grave (mayor 'Total Deaths').

In [ ]:
df_accidentes["Numbers of InDirect Deaths"] = df_accidentes["Numbers of InDirect Deaths"].astype(float)
df_accidentes["Total Deaths"] = df_accidentes["Numbers of InDirect Deaths"] + df_accidentes['Numbers of Direct Deaths']
df_accidentes.sort_values("Total Deaths", ascending=False).head(1)

### Ejercicio 6:
* Mostrar la cantidad de incidentes nucleares en cada categoría ('Category').

In [ ]:
incidentes_categoria = df_accidentes['Category'].value_counts()
incidentes_categoria

### Ejercicio 7:
* Filtrar el DataFrame para mostrar solo los incidentes ocurridos en Estados Unidos ('Pais').

In [56]:
df_accidentes[['Localidad', 'Provincia', 'Pais']] = df_accidentes['Location '].str.split(',', expand=True)
incidentes_usa = df_accidentes.loc[df_accidentes[2] == 'United States', 'Incident']
incidentes_usa

ValueError: Columns must be same length as key

### Ejercicio 8:
* Calcular la cantidad total de muertes directas por incidente nuclear para cada año.

### Ejercicio 9:
* Mostrar la cantidad de incidentes nucleares en cada país ('Pais') en los que el nivel INES es mayor a 5.

### Ejercicio 10:
* Calcular la cantidad de muertes directas totales de Estados Unidos.